.footer__container {
  align-items: center;
  background: url(../../assets/Backgrounds/Bg_Footer.png);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1005px;
  margin: 0 auto;
  min-height: 300px;
  padding: 2em 1em;
  text-align: center;
}

.footer__button-conocer {
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 50px;
  color: $white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
  width: 150px;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.footer__agradecimiento {
  font-size: 30px;
  font-weight: 700;

  span {
    font-size: 30px;
    font-weight: 700;
    color: $blue;
  }
}

.footer__mas-info {
  font-size: 22px;
  font-weight: 500;
}
